body{
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
header,footer{
    background-color: beige;
}
.site-title{
    color: darkred;
}
#my-image{
    box-shadow: 0px 0px 2px 1px black ;
}
li:nth-child(odd){
    background: yellow;
}
ul {
    list-style-type: square;
}
a{
    text-decoration: none;
    background: skyblue;
    border:1px;1
}