body{
    font-size: larger;
    background-color:#006341;
}
.wrapper{
    background-color:antiquewhite;
    
    width: 1024px;
    margin: auto;
    
    
}

.heading-main{
   text-align: center;
    position: relative;
    left: 0%;
    bottom: 200px;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: x-large;
    color: aliceblue;
    
}

nav ul li{
    display: inline-block;
    width: 50px;
    position: relative;
    right: 30px;
    bottom: 110px;
    
    padding-left: 12%;
    text-align: center;


    margin-right: 130px;
    border-left: 2px solid black ;
    
    
    }

nav ul li a {
    
    display: inline-block;
    width: 80px;
    padding-left:1px;
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
            }
.border1{
    border-left:0px solid ;
}

.main1{

padding: 9px;
font-size: larger;
position: relative;
bottom: 100px;
}

.image2{
    width:200px;
    padding-right: 20px;
    float: left;
}
.main2{
    padding: 9px;
    position: relative;
    bottom: 120px;
}
.main3{
   
    position: relative;
    left: 10px;
    bottom: 120px;
    
    box-sizing: content-box;
    width: 93%;
    height:400px;
    border: solid black;
    padding: 20px;
 
    
}
h4{
    font-size: larger;
    position: relative;
    bottom: 150px;

}
h5{
    font-size: large;
}
#y-name,#y-email{
    
    width: 950px;
}
#y-message{
    height: 50px;
    width: 950px;
    
    
}
.radio-type{
    position: relative;
    top: 5px;

}
.submit-button{
    position: relative;
    top: 20px;
    padding: 15px 10px;
    border:3px solid black;
    box-shadow: 1px 1px 1px;
}