body{ /*targetted the body tag so that i can change the font and the whole baground colour*/
    font-size: larger;
    background-color:#006341;
}
.wrapper{/*targetted the wrapper  to give it a position in the center and a unique colour to it*/
    background-color:antiquewhite;
    
    width: 1024px;
    margin: auto;
    
    
}

.heading-main{/*i used this to position Sion Paul in the required spot*/
   text-align: center;
    position: relative;
    left: 0%;
    bottom: 200px;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: x-large;
    color: aliceblue;
    
}

nav ul li{/*used this to place the home , story and contact lists  in the required order giving a black border to its left*/
    display: inline-block;
    width: 50px;
    position: relative;
    right: 30px;
    bottom: 110px;
    
    padding-left: 12%;
    text-align: center;


    margin-right: 130px;
    border-left: 2px solid black ;
    
    
    }

nav ul li a {/*was used to remove the default text decoration  of the anchor and made it look according to the given prototype*/
    
    display: inline-block;
    width: 80px;
    padding-left:1px;
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
            }
.border1{/*used this to remove the extra border in the left to make it look exactly like the other one */
    border-left:0px solid ;
}

.main1{/*used this to style the part containing the article and positioning it*/

padding: 9px;
font-size: larger;
position: relative;
bottom: 100px;
}

.image2{/*used this to bring the image 2 to the left */
    width:200px;
    padding-right: 20px;
    float: left;
}
.main2{/*used this to style the part containing the list*/
    padding: 9px;
    position: relative;
    bottom: 120px;
}
.main3{/*used this to style the labels and create a box around it and style it  */
   
    position: relative;
    left: 10px;
    bottom: 120px;
    
    box-sizing: content-box;
    width: 93%;
    height:400px;
    border: solid black;
    padding: 20px;
 
    
}
h4{
    font-size: larger;
    position: relative;
    bottom: 150px;
    padding-left: 12px;

}
h5{
    font-size: large;
}
#y-name,#y-email{/*used this to style the input for the label*/
    
    width: 950px;
}
#y-message{/*used this to style the input for the label with an addition of extra height to it*/
    height: 50px;
    width: 950px;
    
    
}
.radio-type{
    position: relative;
    top: 5px;

}
.submit-button{/*styled the submit button to a better looking one that matches the given prototypes one*/
    position: relative;
    top: 20px;
    padding: 15px 10px;
    border:3px solid black;
    box-shadow: 1px 1px 1px;
    
}
footer p{/*the footer position and colour*/
    float: right;
    color: azure;
}