


.wrapper1{
    background-color: rgb(43, 49, 49);
    text-align: center;
    margin: auto;
    height: 530px;
   max-width: 1200px;
   padding-right: 1%;
   
    
}
.logo-image{
    padding-top: 15px;
    padding-left: 15px;
    display: block;
    position: relative;
    bottom: 12px;
    right: 10px; 
    max-width: 1200px;
}
.first-image{
    background-color: rgb(192, 141, 14);
    padding-bottom: 140px;
    position: relative;
    top: 5px;
    max-width: 1200px;
    
}
header nav ul{
    padding-top: 15px;
    padding-left: 15px;
    
    
}
nav ul li{
    list-style: none;
    padding: 15px;
    position: relative;
    bottom: 45px;
    
}
 .contact-html {
    padding-bottom: 0%;
}
a{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: darkgoldenrod;
}
.home-html a{
    color: black;
}
.search-bar input[type=text]{
    width:90%;
    height: 25px;
    position: relative;
    right: 10px;
    bottom: 20px;
}



.body-1{
    margin: auto;
    text-align: center;
    max-width: 1200px;
    width: 100%;

}



.body-1 img{
    margin: auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    
    
}
.body-1-data {
    background-color: rgba(0, 0, 0, 0.486);
    position: relative;
    bottom: 500px;
    text-align: left;
    color: azure;
    font-size:30px;
    padding-top: 20px;
    padding-bottom: 40px;
    height:auto;
    width: 98%;
    max-width: 1200px;
    padding-left: 2%;
    max-width: 1200px;

  
}

.body-1-data a{
    color: black;
    background-color: darkgoldenrod;
    padding:20px;
    margin-bottom: 50%;

}






.body-2{
    background-color:#ffe6ac;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    position: relative;
    bottom: 456px;
    padding-top:100px;
}
.body-2 img{
    width: 96%;
    padding-top: 2%;
    position: relative;
    bottom: 90px;
}

.body-2 h2{
    font-size: xx-large;
    text-align: left;
    padding-left: 2%;
}
.body-2 p{
    font-weight:5px;
    text-align: left;
    padding-left: 2%;
}
.body-2 p,h2
{
    position: relative;
    bottom: 50px;
}













