


.wrapper1{
    background-color: rgb(43, 49, 49);
    text-align: center;
    margin: auto;
    height: 530px;
   max-width: 1200px;
    
}
.logo-image{
    padding-top: 15px;
    padding-left: 15px;
    display: block;
    position: relative;
    bottom: 12px;
    right: 10px; 
    max-width: 1200px;
}
.first-image{
    background-color: rgb(192, 141, 14);
    padding-bottom: 140px;
    position: relative;
    top: 5px;
    max-width: 1200px;
    
}
header nav ul{
    padding-top: 15px;
    padding-left: 15px;
    
    
}
nav ul li{
    list-style: none;
    padding: 15px;
    position: relative;
    bottom: 45px;
    
}
 .contact-html {
    padding-bottom: 0%;
}
a{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: darkgoldenrod;
}
.home-html a{
    color: black;
}
.search-bar input[type=text]{
    width:90%;
    height: 25px;
    position: relative;
    right: 10px;
    bottom: 20px;
}



.body-1{
    margin: auto;
    text-align: center;
    max-width: 1200px;

}



.body-1 img{
    width: 100%;
    text-align: center;
    max-width: 1200px;
    
}
.body-1-data {
    background-color: rgba(0, 0, 0, 0.486);
    position: relative;
    bottom: 800px;
    text-align: left;
    color: azure;
    font-size:79px;
    padding-top: 0px;
    padding-bottom: 40px;
    height:600px;
    padding-left: 10px;
  
}
.body-1-data p {
    font-size:30px;
}

.body-1-data a{
    background-color:darkgoldenrod;
    color: black;
    padding: 30px;
    position: relative;
    right: -15px;
    bottom: -10px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}





.body-2{
    margin: auto;
    text-align: center;
    max-width: 1200px;
    background-color:#ffe6ac ;
    position: relative;
    bottom: 743px;
}
.body-2-data{
    padding: 5px;
    padding-top: 15px;
    text-align: left;
    padding-left: 20px;
    
}
.body-2-img{
    width: 1160px;

}
.body-2-data h2{
    font-size: 40px;
}
.body-2-data p {
    font-size: larger;
}
.body-3-data{
   margin: auto;
    text-align: center;
    max-width: 1200px; 
}








