


.wrapper1{
    background-color: rgb(43, 49, 49);
    text-align: center;
    margin: auto;
    height: 530px;
   max-width: 1200px;
   padding-right: 1%;
   
    
}
.logo-image{
    padding-top: 15px;
    padding-left: 15px;
    display: block;
    position: relative;
    bottom: 12px;
    right: 10px; 
    max-width: 1200px;
}
.first-image{
    background-color: rgb(192, 141, 14);
    padding-bottom: 140px;
    position: relative;
    top: 5px;
    max-width: 1200px;
    
}
header nav ul{
    padding-top: 15px;
    padding-left: 15px;
    
    
}
nav ul li{
    list-style: none;
    padding: 15px;
    position: relative;
    bottom: 45px;
    
}
 .contact-html {
    padding-bottom: 0%;
}
a{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: darkgoldenrod;
}
.home-html a{
    color: black;
}
.search-bar input[type=text]{
    width:90%;
    height: 25px;
    position: relative;
    right: 10px;
    bottom: 20px;
}



.body-1{
    margin: auto;
    text-align: center;
    max-width: 1200px;
    width: 100%;

}



.body-1 img{
    margin: auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    
    
}
.body-1-data {
    background-color: rgba(0, 0, 0, 0.486);
    position: relative;
    bottom: 500px;
    text-align: left;
    color: azure;
    font-size:30px;
    padding-top: 20px;
    padding-bottom: 40px;
    height:auto;
    width: 98%;
    max-width: 1200px;
    padding-left: 2%;
    max-width: 1200px;

  
}

.body-1-data a{
    color: black;
    background-color: darkgoldenrod;
    padding:20px;
    margin-bottom: 50%;

}






.body-2{
    background-color:#ffe6ac;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    position: relative;
    bottom: 456px;
    padding-top:100px;
}
.body-2 img{
    width: 96%;
    padding-top: 2%;
    position: relative;
    bottom: 90px;
}

.body-2 h2{
    font-size: xx-large;
    text-align: left;
    padding-left: 2%;
}
.body-2 p{
    font-weight:5px;
    text-align: left;
    padding-left: 2%;
}
.body-2 p,h2
{
    position: relative;
    bottom: 50px;
}










.body-3{
    text-align: center;
    max-width: 1200px;
    margin: auto;
    font-size: x-large;
    font-weight:bolder;
    position: relative;
    bottom: 430px;
}
.body-3 img{
width: 100%;
position: relative;
    bottom: 22px;
    margin-bottom: 0px;

}
.body-3 h3{
    font-size: xxx-large;
    text-align: left;
    
}
.body-4{
    text-align: center;
    max-width: 1200px;
    margin: auto;
   
   background-color: #ffe6ac;
    font-weight:bolder;
    position: relative;
    bottom: 459px;
    
}

.body-4-data{
    text-align: left;
    padding-top:90px;
    padding-bottom:40px;
    position: relative;
    bottom: 120px;
}

.body-4 h3{
    font-size: xxx-large;
    padding-left: 1%;
}
.body-4 p{
    font-size: x-large;
    padding-left: 1%;
}

.body-4 a{
    font-size: x-large;
    padding: 25px;
    position: relative;
    bottom: -20px;
    right: -3%;
    
    color: aqua;

    background-color: black;
}









.body-5{
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.body-5-data{
    position: relative;
    bottom: 420px;
    text-align: left;
    background-color: #ffe6ac;
    padding-bottom: 60px;
}

.body-5 img{
    width: 100%;
    
      
}
.body-5 h3{
padding-left: 2%;
font-size: xx-large;
}
.body-5 p{
    padding-left: 2%;
}
.body-5 a{
    padding-left: 2%;
    padding: 20px;
    background-color: black;
    margin-left: 20px;
    position: relative;
    top: 30px;
}











.body-6{
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.body-6-data{
    position: relative;
    bottom: 400px;
    text-align: left;
    background-color: #ffe6ac;
    padding-bottom: 60px;
}

.body-6 img{
    width: 100%;
    
      
}
.body-6 h3{
padding-left: 2%;
font-size: xx-large;
}
.body-6 p{
    padding-left: 2%;
}
.body-6 a{
    padding-left: 2%;
    padding: 20px;
    background-color: black;
    margin-left: 20px;
    position: relative;
    top: 30px;
}




.body-7{
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.body-7-data{
    position: relative;
    bottom: 380px;
    text-align: left;
    background-color: #ffe6ac;
    padding-bottom: 60px;
}

.body-7 img{
    width: 100%;
    
      
}
.body-7 h3{
padding-left: 2%;
font-size: xx-large;
}
.body-7 p{
    padding-left: 2%;
}
.body-7 a{
    padding-left: 2%;
    padding: 20px;
    background-color: black;
    margin-left: 20px;
    position: relative;
    top: 30px;
}










.body-8{
    text-align: center;
    max-width: 1200px;
    margin: auto;
}
.body-8-data{
    position: relative;
    bottom: 360px;
    text-align: left;
    background-color: #ffe6ac;
    padding-bottom: 60px;
}

.body-8 img{
    width: 100%;
    
      
}
.body-8 h3{
padding-left: 2%;
font-size: xx-large;
}
.body-8 p{
    padding-left: 2%;
}
.body-8 a{
    padding-left: 2%;
    padding: 20px;
    background-color: black;
    margin-left: 20px;
    position: relative;
    top: 30px;
}








